<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBN_yW4hR_rm-50nbcpO4AmNKk4mdkE2u8</string>
	<key>GCM_SENDER_ID</key>
	<string>710396968816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.casaimo.casaimo</string>
	<key>PROJECT_ID</key>
	<string>casaimo</string>
	<key>STORAGE_BUCKET</key>
	<string>casaimo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710396968816:ios:d275fdbf310730a069d9b5</string>
</dict>
</plist>
